$primary: #B59C92;
$white: #F7F5F3;
$gradient: linear-gradient(180deg, rgba(#B59C92, .8) 0.52%, rgba(#A58878, .9) 100%);
$black: #0C0A08;

$shadow: 0 30px 60px -12px rgba(50,50,93,0.25), 0 18px 36px -18px rgba(0,0,0,0.3);
$ease: ease;
$ease-bounce: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$header: 90px;